body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

table,
th,
td {
    border-bottom: 2px solid #f2f2f2;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th,
td {
    padding: 10px;
}

th {
    background-color: #37AEE2;
    color: white;
}

tr:nth-child(even) {
    background-color: white;
}
.grade-style1,
.grade-style2,
.grade-style3
.grade-style4 {
    color: white;
}
.grade-style1 {
    background-color: green;
}
.grade-style2 {
    background-color: orange;
}
.grade-style3 {
    background-color: orangered;
}
.grade-style4 {
    background-color: red;
}